<?php
/**
 * @var $block \Kowal\StronaGlowna\Block\Homepage
 */
?>
<?php

$title = "";
$content = "";
$sections = 4;

for ($s = 1; $s <= $sections; $s++) {
    $columns = $block->getColumns($s);
    if (!$block->getSectionStatus($s)) continue;
    $columns_ = ($columns >= 3) ? 'grid' : $columns;
    ?>

    <div class="home-<?= $columns_; ?>-columns">
        <?php
        for ($c = 1; $c <= $columns; $c++) {
            $content = $block->getContentBlock($c, $s);
            $title = $block->getContentHeader($c, $s);
            ?>
            <article>
                <div class="text">
                    <h2><?= $title; ?></h2>
                    <?= $content; ?>
                </div>
            </article>

            <?php
        } ?>
    </div>
    <?php
}
?>