
//
//  Common
//  _____________________________________________

& when (@media-common = true) {




}

//
//  Mobile @screen__s do 639
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .home-2-columns {
    grid-template-columns: 1fr !important;
  }

}


//
//  Mobile @screen__m  do 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .home-2-columns {
    grid-template-columns: 1fr !important;
  }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .home-1-columns {
    display: grid;
    grid-template-columns: none;
    grid-gap: 20px;
    align-items: stretch;

    > article {
      border: none;
      position: relative;
      padding-bottom: 40px;

      .text {
        padding: 0px 0px 20px 0px;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .home-2-columns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: stretch;

    > article {
      border: none;
      position: relative;
      padding-bottom: 40px;

      .text {
        padding: 0px 0px 20px 0px;

        img {
          max-width: 100%;
        }
      }
    }
  }


  .home-grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;

    > article {
      border: none;
      position: relative;
      padding-bottom: 40px;

      .text {
        padding: 0px 0px 20px 0px;

        img {
          max-width: 100%;
        }
      }
    }
  }

}


//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {


}